<h1>Lessons Available</h1>
{{!-- Create a table --}}
<table id = "lessons-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the pem_fname renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.[Lesson ID]}}</td>
            <td>{{this.[Lesson Name]}}</td>
            <td>{{this.[Proficiency Level]}}</td>
            <td>{{this.[Instructor]}}</td>
            <td><button onclick="deleteLesson({{this.[Lesson ID]}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="add-lesson">

<h2>Add a Lesson</h2>
<p>To add a Lesson, please enter the information below and click 'Submit'!</p>
<form id="add-lesson-form-ajax">
    <label for="input-lesson-name">Lesson Name: </label>
    <input type="text" name="input-lesson-name" id="input-lesson-name">
    
    <label for="input-lesson-proficiency">Proficiency Level: </label>
    <select type="select" name="input-lesson-proficiency" id="input-lesson-proficiency">
        {{#each proficiencies}}
        <option value="{{this.id_proficiency}}">{{this.proficiency_name}}</option>
        {{/each}}
    </select>

    <label for="input-lesson-instructor">Instuctor: </label>
    <select type="select" name="input-lesson-instructor" id="input-lesson-instructor">
        {{#each instructors}}
        <option value="{{this.id_instructor}}" data-name="{{this.instructor_fname}} {{this.instructor_lname}}" >{{this.instructor_fname}} {{this.instructor_lname}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
</div>
<script src="./js/add_lesson.js"></script>
<script src="./js/delete_lesson.js"></script>